
{% extends 'base.html' %}


{% block content %}
    <!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">
    

    
    {% if request.GET.command == 'verification' %}
        <div class="container mx-auto alert alert-info text-center" style="max-width: 720px; margin-top:100px;">
            <p>
            Thankyou for registering with us, We have sent you a verification email to your email address. Please verify it[{{request.GET.email}}]
            <br>
        </p>
           
            Already Verified?<a href="{% url 'accounts:login' %}">Login</a>
        </div>
        {% else %}


        <p id="textjs"></p>

    <!-- ============================ COMPONENT FORGOT PASSWORD   ================================= -->
        <div class="card mx-auto" style="max-width: 750px; margin-top:100px;">
           
          <div class="card-body">
          <h4 class="card-title mb-4">FORGOT PASSWORD</h4>
          {% include 'includes/alert.html' %}
          <form action="{% url 'accounts:forgotPassword' %}" method="POST">
              {% csrf_token %}
              <div class="form-group">
                 <input type="email" class="form-control" placeholder="Email Address" name="email">
              </div> <!-- form-group// -->
      
              
          
              <div class="form-group">
                  <button type="submit" class="loginbtn btn btn-primary btn-block"> Login  </button>
              </div> <!-- form-group// -->    
          </form>
          </div> <!-- card-body.// -->
        </div> <!-- card .// -->
    
        {% endif %}
        
         <p class="text-center mt-4">Don't have account? <a href="{% url 'accounts:register' %}">Sign up</a></p>
         <br><br>
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock content %}
    